.chance-header-holder
{
	width: 100%;
	min-height: 499px;
	background: url(../images/chance_bonus/chance-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 45px 0;
}

.chance-header-cont h2
{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 40px;
	color: #fff;
	line-height: 50px;
}
.chance-header-cont p
{
	font-family: Open Sans;
	font-weight: 300;
	font-size: 19px;
	color: #fff;
	line-height: 27px;
	margin-top: 20px;
}
.btn-chance-holder
{
	width: 100%;
	margin-top: 15px;
}
.btn-chance-holder a
{
	margin-top: 15px;
	background: #aaa;
	color: #fff;
	font-family: Open sans;
	font-size: 25px;
	display: inline-block;
	padding: 17px 30px;
	font-weight: 500;
	width: 290px!important;
	text-align: center;
}

.btn-chance-holder a:hover
{
	text-decoration: none;
}
.btn-chance-register
{
	background: #29a643!important;
	margin-right: 15px;
	transition: all ease 0.3s;
}
.btn-chance-register:hover
{
	background: #3ECD5C!important;
	transition: all ease 0.3s;
}
.btn-chance-deposit
{
	background: #2988ca!important;
	transition: all ease 0.3s;
}
.btn-chance-deposit:hover
{
	background: #319AE3!important;
	transition: all ease 0.3s;
}
.chance-terms-holder
{
	width: 100%;
	min-height: 10px;
	background: #fff;
	padding-bottom: 35px;
}
.chance-terms
{
	width: 100%;
}
.chance-terms h2
{
	font-size: 20px;
	color: #29a643;
	font-family: Open Sans;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
}
.chance-terms a:focus
{
	text-decoration: none;
}
.chance-terms a:hover
{
	text-decoration: none;
}
.chance-terms ul
{
	margin: 0;
	padding: 0 0 0 18px;
}
.chance-terms ul li
{
	font-family: Open Sans;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	color: #29a643;
}
.chance-terms ul li:last-child
{
	list-style: none;
	color: #333;
}
.chance-terms ul li span
{
	color: #333;
}
.chance-terms p
{
	font-size: 17px;
	font-family: Open Sans;
	font-weight: 300;
	margin-top: 20px;
}
@media screen and (max-width: 852px) {
	.chance-header-holder
	{
		background: url(../images/chance_bonus/chance-bg-852.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
@media screen and (max-width: 767px) {
	.chance-header-holder
	{
		background: url(../images/chance_bonus/chance-bg-767.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 400px;
		padding: 20px 0;
	}
}
@media screen and (max-width: 608px) {
	.chance-header-holder
	{
		background: url(../images/chance_bonus/chance-bg-608.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 400px;
		padding: 20px 0;
	}
}
@media screen and (max-width: 481px) {
	.chance-header-holder
	{
		background: url(../images/chance_bonus/chance-bg-481.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 400px;
		padding: 20px 0;
	}
}