.ecn-parent-container {
	width:100%;
	padding-bottom:20px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3)!important;
}

.ecn-feats {
	margin-left:0;
}

.ecn-feats li i {
	margin-right:3px;	
	margin-top:2px;
	float:left;
}

.ecn-list {
	font-weight:bold;
}

.ecn-feats p {
	font-weight:normal;
	text-indent:20px;
}

.ecn-img-holder img {
	margin:20px auto;
}

.ecn-form {
	width:100%;
	/*background:url(https://www.forexmart.com/assets/images/ecn-bg-img.jpg);*/
	background-size:cover;
	padding:70px 0;
}

.ecn-form-parent {
	margin:0 auto;
	float:none;
}

.ecn-form-holder {
	display: table;
    padding: 10px;
    margin:0 auto;
    background: rgba(255,255,255, 0.2);
    border: 1px solid #009ac0;
}

@media screen and (max-width: 991px) {

	.ecn-image {
		margin-top:20px!important;
		margin:0 auto;
	}

}

.ecn-cta {
/*	margin:0 auto!important;
	display:table;*/
}

.ecn-cta button {
	color: #fff;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 600;
    background: #29a643;
    padding: 20px 40px;
    transition: all ease .3s;
    outline:none;
    border:none;
    display: block;
    width: 100%;
}

.ecn-cta button:hover {
	background:#3ecd5c;
}
