
@media screen and (max-width: 1280px) {
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-1280.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-1280.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-1280.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-1280.png) no-repeat!important;
	}
}
@media screen and (max-width: 1199px) {
	.contact-map-holder
	{
		margin-bottom: -370px;
	}
}
@media screen and (max-width: 991px) {
	.contact-map-holder
	{
		margin-bottom: 10px;
	}
	.cyprus-loc
	{
		right: 42.3%;
		top: 32.3%;
	}
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-991.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-991.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-991.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-991.png) no-repeat!important;
	}

}
@media screen and (max-width: 800px) {
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-800.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-800.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-800.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-800.png) no-repeat!important;
	}
}
@media screen and (max-width: 767px) {
	.img-center
	{
		text-align: center;
	}
	.choose-sub
	{
		text-align: center;
	}
	.image-center
	{
		margin: 0 auto;
		float: none;
	}
	.ec-date
	{
		text-align: left!important;
	}
}
@media screen and (max-width: 520px) {
	.license-title
	{
		text-align: center!important;
	}
}

@media screen and (max-width: 592px){
	.legend1-holder
	{
		width: 100%;
	}
	.legend2
	{
		margin-top: 10px;
	}
}
@media screen and (max-width: 514px){
	.queue-tab-list li
	{
		float: none!important;
		border-bottom: 1px solid #1A6FAB;
	}
}
@media screen and (max-width: 481px) {

	.cyprus-loc
	{
		right: 40.3%;
		top: 26.3%;
	}
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-481.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-481.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-481.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-481.png) no-repeat!important;
	}
}
@media screen and (max-width: 390px) {

}
@media screen and (max-width: 360px) {

	.cyprus-loc
	{
		right: 39.3%;
		top: 21.3%;
	}
	.feedback-rate-list li label
	{
		font-size: 11px!important;
	}
	.quotes
	{
		width: 100%;
	}
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-360.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-360.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-360.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-360.png) no-repeat!important;
	}
}
@media screen and (max-width: 320px) {

	.cyprus-loc
	{
		right: 38.3%;
		top: 16.3%;
	}
	.footer-banner
	{
		background: url(../images/bottom-banner-usd-320.png) no-repeat!important;
	}
	.footer-banner1
	{
		background: url(../images/bottom-banner-eur-320.png) no-repeat!important;
	}
	.footer-banner2
	{
		background: url(../images/bottom-banner-gbp-320.png) no-repeat!important;
	}
	.footer-banner3
	{
		background: url(../images/bottom-banner-rub-320.png) no-repeat!important;
	}
}