/*STYLE*/
h2{
	font-size: 2.4em;
}

.pageWrapper{
	width: 100%;
}
.contentContainer{	
	position: relative;
	padding: 20px;
}
.mapStyle{
	max-width: 85%;
	height: auto;
	margin-left: 232px;	
}
.overlappingContainer .mapTitle{
	display: block;
	/*margin:20px;*/
}
.mapTitle{
	font-family: Georgia;
	font-size: 26px;
	color: #2988ca;
}
/*.locationInfo{
	position: absolute;		
}*/
.target1 {
    right: 2px;
    bottom: 18px;
}
.target2 {
    right: 551px;
    bottom: 320px;
}
.target3 {
    right: 664px;
    bottom: 286px;
}
.target4 {
    right: 694px;
    bottom: 395px;
}
.countryLocation {
	display: inline-block;
	text-decoration: none;
	color: #ed1f27;
}
.countryLocation:hover, .countryLocation:focus{
	text-decoration: none;
	color: #ed1f27;
}
.countryLocation .fa{
	font-size: 6em;
	display: block;
	color: #ed1f27;
}
.countryLocation span{
	font-family: Georgia;
	font-size: 16px;
	margin: 2px auto;
	display: block;	
}
.overlappingContainer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: block;	
	min-height: 100%;
}
.hoverInfo{
	display: none;
	width: 210px;
	padding:5px;
	z-index: 1000;
	position: absolute;
}
.hoverInfo p {
	border:solid 1px #c6e5fa;
	background: #e4f3fd;
	color: #3a3a3a;
	padding:5px;
	text-align: center;
	margin-bottom:3px;
}
.hoverInfo img {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.locationInfo:hover .hoverInfo{
	display: block;
}

/*.locationInfo {
	position:absolute;
	width:210px;
}*/

.LondonhoverInfo {
    left: 48px;
    top: -50px;
}
.ParishoverInfo {
    left: 66px;
    top: 34px;
}
.BerlinhoverInfo {
    left: 141px;
    top: -6px;
}
.CyprushoverInfo {
    right: 99px;
    bottom: 83px;
}
/*new style*/
.container-fluid{
	padding: 0;
}
.grpBtn{
	display: inline-block;
	padding: 16px 15px;
}
.grpBtn li{
	list-style:none;
	display: inline-table;	
}
.grpBtn li a{
	border-radius: 0;
	text-transform: uppercase;
}
.btn-lightgreen{
	border:solid 1px #00ae00;
	color: #00ae00;
}
.btn-lightgreen:hover, .btn-lightgreen:focus{
	background:#00ae00!important;
	color: #fff!important; 
}
.btn-img{
	padding: 4px!important;
	border:solid 1px #2988ca;
	background: #fff;
}
.btnlanguage{
	height: 23px;
	width: 35px;
}
.brandname{
	display: inline-block;
	padding: 2px;
	float: left;
}
.brandname img{
	height: 96px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.smallForm{
	width: 100%;
    display: block;
    margin: 95px auto; 
    border: solid 1px #166db2;
    background: #fff;
}
.formBody{
	padding: 30px 60px;
}
.formFooter{
	padding: 15px;
	display: inline-block;
	width: 100%;
}
.formTitle{
	display: block;	
	text-align: center;	
	color: #333;	
	font-size: 2.2em;	
}
.inputFormStyle1{
	border:solid 1px #ddd;	
}
.inputFormStyle1 .form-control, .inputFormStyle1 .input-group-addon{
	border:none;
	background: #fff;
	border-radius:0;
}
.inputFormStyle1 .form-control{
	height: 48px;
	font-size: 16px;	
}
.inputFormStyle1 .form-control:focus{
	border:none;
	box-shadow: none;
}
.inputFormStyle1 .input-group-addon{
	font-size: 16px;
	padding: 6px 14px;
}	
.instructions{
	padding: 8px;
	color: #333;
}
.grpData{
	display: inline-block;
	width: 38px;
	padding: 2px;
	vertical-align: text-top;
}
.table-striped tr td i{
	padding: 4px;	
}
.grpData span{
	font-size: 14px;
	display: block;	
}
.seperator{
	font-size: 18px;
	display: inline-block;
}
.btnSubmit{
	display: block;
	margin: 0 auto;
	width: 200px;
	padding:15px;
	background: #2988ca;
	color: #fff;
}
.formFooter{
	background:#28a64a;
}
.btnLink{
	font-weight: 500;
	font-size: 16px;
	margin-left: 10px;
	color: #fff;
}
.imgDetails{
	text-align: center;
	color: #fff;
	margin-top: 65%;
	margin-bottom: 20px;
}
.btnHolder{	
	display: block;
	margin: 15px auto;
	text-align: center;
}
.btnReadmore{
	color: #fff;
	padding:15px;
	border:solid 1px #fff;
	font-size: 24px;
	margin: 10px auto;
	text-align: center;
}
.tabular .nav li a{
	padding: 20px 15px;
	border-radius: 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	background: #f8f8f8;
	/*border-top:solid 1px #29a643;*/
}
.tabular .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background:#29a643;
}
.tabular .tab-content{
	border-left:solid 1px #29a643;
	border-right:solid 1px #29a643;
	border-bottom:solid 1px #29a643;
	padding: 20px;
	background: #29a643;
	height: 1011px;	
}
.tabular table{
	background: #fff;
}
.tabular table thead tr th, .tabular table tbody tr td{
	padding: 15px;
}
.tabularTitle{
	margin: 10px 10px 20px 10px;
	font-size: 24px;
	color: #f3f3f3;
}
#filterContent{
	width: 100%;
	display: none;
}
.articleTitle{
	font-size: 18px;
	margin-bottom: 5px;	
}
.articleHeading{
	text-align: left;
	display: inline-block;
	padding: 10px;
}
.avatarIcon{
	display: inline-block;
	/*margin: 5px;*/
	vertical-align: top;
}
.articleBody{
	text-align: justify;
}

#pageWrapper{
	width: 100%;
}
/*for layouts*/
.layout{
	display: block;
	margin:0 auto;
	padding: 20px;
	border:1px solid #ddd;
}
.layoutLabel{
	font-size: 4em;
	text-align:center;
}

.lightFont{
	color: #fff;
}

.darkFont{
	color: #333;
}

/*new added style*/
#contentContainer1{
	margin-top: 100px;
	background: url("../images/bluepattern.jpg");
	background-size: cover;
}
#contentContainer1, #contentContainer2, #contentContainer3,#contentContainer4,#contentContainer5{			
	height: 768px;	
	padding: 40px;
}
.lgText{
	font-size: 3em;
	display: block;
	margin-bottom: 20px;
	text-align: center;
	color: #f3f3f3;
	font-weight: 600;
}
.pText{
	text-align: justify;
	line-height: 2;
}
.columnContainer{
	display: block;
	margin: 0 auto;
}
.columnContainer li{
	display: inline-table;
	padding: 5px;
	border:solid 1px #ccc;
	width: 32%;
}
.stepTitle{
	font-weight: 600;
	font-size: 2em;
	display: block;
	text-align: center;
	margin-bottom: 12px;
}
.subTitle{
	font-size: 24px;
	text-align: center;
}
#fxCalendar .btn-group{
	margin-bottom: 20px;
}
#fxCalendar .btn-group  .btn{
	padding: 15px 28.6px;
}
.bottomSpace{
	margin-bottom: 10px;
}
/*.imgList .imgListItem{
	background:#ddd;
}*/
.imgListItem{
	padding: 8px;
}
.imgListItem img{
	display: block;
	margin:0 auto;
	margin-bottom: 15px;
}
#contentContainer2{
	background: #f8f8f8;
	height: auto!important;
}
.chartHolder .panel{
	border-radius: 0;
	border-color: #333;
}
.chartHolder .panel .panel-heading{
	padding:15px 20px;
	border-radius: 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #333;
	border-color: #333;
	color:#fff;
}
.chartHolder .panel .panel-body{
	background: #3a3a3a;
	color: #f3f3f3;
}
.lbl{
	font-size: 16px;
}
.chartHolder table tbody tr td{
	border-color: #555;
	padding: 12px 5px;
}
.chartHolder img{
	width: 100%;
}
.imgListItem .panel {
	border-radius: 10px;
}
.imgListItem .panel .panel-heading{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.imgList{
	padding: 0 20px;	
}
.imgListItem .panel{
	border:solid 3px #2988ca;
}
#contentContainer3{
	height: auto!important;
	background: url("../images/bluepattern.jpg");
}
#contentContainer4 img{
	width: 100%;
}
.footerLinks{
	/*padding: 20px;*/
	background: #337ab7;
} 
.footerLinks .nav li a{
	padding: 20px;
	color: #fff;
}
#tblfxMajor .btnBuy{
	background: #b90916;
	color: #f3f3f3;
}
#tblfxMajor .btnSell{
	background: #187d07;
	color: #f3f3f3;
}
.chartHolder .panel .panel-body{
	min-height: 654px;
}
.newsList a:last-child{
	text-align: center;
}
.btnHolder .btn{
	margin: 0 auto;
	display: block;
	/*border-radius: 0;*/
	width: 200px;
	padding: 10px;
	font-weight: 600;
	font-size: 16px;
}
.titleData{
	font-size: 16px;
}
.iconSpace{
	margin-right: 10px;
}
.newsListTitle{
	padding: 10px;
	color: #f3f3f3;
	background: #29a643;
	text-align: center;
}
.newsListFooter{
	/*padding: ;*/
	color: #f3f3f3!important;
	background: #29a643;
	text-align: center;
}
.imgListItem .panel-heading{
	border:none;
}
.aboveContainer{
	position: relative;
	display: block;
	overflow: hidden;
}
.aboveText{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #000;
	opacity: 0.5;
	padding: 20px 40px;
	text-align: center;
	text-decoration:none; 
	width: 97.2%;
    margin: 0 15px;   
    }
.aboveContainer a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.subarticleTitle{
	font-size: 11px;
	color: #6a6a6a;
}
.country{
	font-size: 15px!important;
	margin-top: 0px!important;
}
.location{
	font-size: 12px!important;
}
.email{
	margin-bottom: 2px!important;
	font-size: 14px!important;
}
.countryAddr{
	/*border-right:solid 1px #ddd;*/
	padding: 0 40px;
	/*height: 145px;*/
}

.countryAddr p{
	margin-bottom: 0;
}
.countryName{
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
.countryInfo{
	border-top: solid 1px #ddd;
    padding: 30px 0;
}
.countryInfo .countryAddr:last-child{
	border-right: 0;
}	
.contentContainer .cont-info-col{
	position: absolute;
    top: 70px;
    left: 0
}
.mapContainer{
/*	background: #f4f4f4;*/
    border-top: solid 1px #ddd;
}
.tempMap{
	display: none;
}

.map-right-container {
	position:relative;
}

.map {
	background:url("../images/europe-map.png") no-repeat center;
	background-size:contain;
	height:502px;
	width:100%;
	min-width:100%;
	margin:0 auto;
	position:relative!important;
}

.map-country-location , .map-country-location:hover {
	text-decoration:none;
}

.map-country-location span {
	font-family: Georgia;
    font-size: 16px;
    margin: 2px auto;
    display: block;
    color:#ff0000;
    text-align: center;
}

.map-country-location {
	position:absolute;
	display:inline-block;
}

.map-country-location img{
	margin: 0 auto;
}

.london-location {
    top: 170px;
    left: 197px;
}
.paris-location {
    top: 254px;
    left: 220px;
}
.berlin-location {
    top: 214px;
    left: 292px;
}
.cyprus-location {
    bottom: -9px;
    right: 110px;
}
.mapInfo{
	padding-top: 60px;
	color: #333;	
}
.mapInfo .list-group li{
	border-radius:0;
	/*padding: 20px;*/
	border:0;
}
.mapInfo h4{
	font-family: Open Sans;
    font-size: 14px;
    color: #333;
    font-weight: 600;
	margin-bottom: 	10px;
}
.mapInfo p{
	line-height: 2;
	text-align: left;
}



@media only screen and (max-width: 1199px) {
	/*.map {	
		margin:0 auto;
		margin-bottom: 30px;		
	}*/
	.london-location {
	    top: 167px;
	    left: 119px;
	}
	.paris-location {
	    top: 252px;
	    left: 146px;
	}
	.berlin-location {
	    top: 216px;
	    left: 220px;
	}
	.cyprus-location {
	    bottom: -9px;
	    right: 35px;
	}
	.LondonhoverInfo {
	    left: 110px;
	    top: -54px;
	}
	.ParishoverInfo {
	    top: 32px;
	    left: 136px;
	}
	.BerlinhoverInfo {
	    top: -4px;
	    left: 211px;
	}
	.CyprushoverInfo {
	    right: 24px;
	    bottom: 82px;
	}
}
@media only screen and (max-width: 991px){
	.cyprus-location {
	    bottom: -9px;
	    right: 17px;
	}
	.berlin-location {
	    top: 212px;
	    left: 226px;
	}
	.london-location {
	    top: 167px;
	    left: 128px;
	}
	.paris-location {
	    top: 253px;
	    left: 150px;
	}
	.cyprus-location {
	    bottom: -9px;
	    right: 41px;
	}	
	.CyprushoverInfo {
	    bottom: 83px;
	    right: 32px;
	}
	.BerlinhoverInfo {
	    top: -9px;
	    left: 217px;
	}	
	.LondonhoverInfo {
	    left: 119px;
	    top: -54px;
	}
	.ParishoverInfo {
	    top: 32px;
	    left: 141px; 
	}
}

@media only screen and (max-width: 767px) {
	.cyprus-location {
	    bottom: -9px;
	    right: 64px;
	}
	.berlin-location {
	    top: 218px;
	    left: 250px;
	}
	.paris-location {
	    top: 255px;
	    left: 175px;
	}
	.london-location {
	    top: 171px;
	    left: 153px;
	}	
	.absolute-container {
		margin-top:580px;
	}
	.CyprushoverInfo {
	    bottom: 83px;
	    right: 55px;
	}
	.BerlinhoverInfo {
	    top: -9px;
	    left: 245px;
	}
	.ParishoverInfo {
	    top: 32px;
	    left: 164px;
	}
	.LondonhoverInfo {
	    left: 142px;
	    top: -50px;
	}		
}

@media only screen and (max-width: 736px){
	.cyprus-location {
	    bottom: -9px;
	    right: 51px;
	}
	.berlin-location {
	    top: 216px;
	    left: 233px;
	}
	.paris-location {
	    top: 255px;
	    left: 162px;
	}
	.london-location {
	    top: 164px;
	    left: 134px;
	}
	.LondonhoverInfo {
	    left: 126px;
	    top: -58px;
	}
	.ParishoverInfo {
	    top: 32px;
	    left: 156px;
	}
	.BerlinhoverInfo {
	    top: -9px;
	    left: 227px;
	}
}

@media only screen and (max-width: 713px) {

	.london-location {
	    top: 169px;
	    left: 125px;
	}
	.paris-location {
	    top: 254px;
	    left: 150px;
	}
	.berlin-location {
	    top: 216px;
	    left: 222px;
	}
	.cyprus-location {
	    bottom: -9px;
	    right: 39px;
	}
	.CyprushoverInfo {
	    bottom: 83px;
	    right: 35px;
	}	
}

@media only screen and (max-width: 699px){
	.CyprushoverInfo{
		top: 200px;
	}
}

/*@media only screen and (max-width: 685px){
	.cyprus-location {
	    bottom: 122px;
	    right: 14px;
	}
}*/

@media only screen and (max-width: 685px){
	.cyprus-location {
	    bottom: 97px;
	    right: 18px;
	}
	.london-location {
	    top: 169px;
	    left: 112px;
	}
	.berlin-location {
	    top: 217px;
	    left: 207px;
	}
	.paris-location {
	    top: 248px;
	    left: 131px;
	}
	.cyprus-location {
	    bottom: -9px;
	    right: 23px;
	}
	.BerlinhoverInfo {
	    top: -15px;
	    left: 190px;
	}
	.CyprushoverInfo {
	    bottom: 89px;
	    right: 14px;
	}
	.LondonhoverInfo {
	    left: 104px;
	    top: -58px;
	}
	.ParishoverInfo {
	    top: 27px;
	    left: 123px;
	}
	.BerlinhoverInfo {
	    top: -5px;
	    left: 200px;
	}
}

/*@media only screen and (max-width: 618px){
	.cyprus-location {
	    bottom: -15px;
	    right: 1px;
	}
	.berlin-location {
	    top: 155px;
	    left: 145px;
	}
	.paris-location {
	    top: 174px;
	    left: 87px;
	}
	.london-location {
	    top: 114px;
	    left: 73px;
	}	
}*/

@media only screen and (max-width: 605px) {

	.london-location {
	    top: 167px;
	    left: 88px;
	}
	.paris-location {
	    top: 242px;
	    left: 106px;
	}
	.berlin-location {
	    top: 216px;
	    left: 176px;
	}
	.cyprus-location {
	    bottom: 13px;
	    right: 12px;
	}
	.LondonhoverInfo {
	    left: 78px;
	    top: -52px;
	}
	.ParishoverInfo {
	    top: 19px;
	    left: 100px;
	}
	.BerlinhoverInfo {
	    top: -5px;
	    left: 170px;
	}
	.CyprushoverInfo {
	    right: 0;
	    top: 177px;
	}
}

@media only screen and (max-width: 580px) {

	.london-location {
	    top: 172px;
	    left: 86px;
	}
	.paris-location {
	    top: 241px;
	    left: 102px;
	}
	.berlin-location {
	    top: 216px;
	    left: 167px;
	}
	.cyprus-location {
	    bottom: 24px;
	    right: 8px;
	}
	.LondonhoverInfo {
	    left: 78px;
	    top: -49px;
	}
	.ParishoverInfo {
	    top: 21px;
	    left: 94px;
	}
	.BerlinhoverInfo {
	    top: -4px;
	    left: 160px;
	}
	.CyprushoverInfo {
	    right: 0;
	    top: 169px;
	}
}

@media only screen and (max-width: 560px) {

	.london-location {
	    top: 110px;
	    left: 93px;
	}
	.paris-location {
	    top: 177px;
	    left: 109px;
	}
	.berlin-location {
	    top: 151px;
	    left: 165px;
	}
	.ParishoverInfo {
	    top: -43px;
	    left: 99px;
	}
	.BerlinhoverInfo {
	    top: -69px;
	    left: 158px;
	}
	.cyprus-location {
	    bottom: -14px;
	    right: 31px;
	}
	.CyprushoverInfo {
	    right: 21px;
	    top: 86px;
	}
	.LondonhoverInfo {
	    left: 82px;
	    top: -110px;
	}
	/*.absolute-container {
		margin-top:430px;
	}*/
	.map{
		height: 380px;
	}
}

@media only screen and (max-width: 530px){
	.berlin-location {
	    top: 153px;
	    left: 141px;
	}
	.cyprus-location {
	    bottom: -13px;
	    right: 4px;
	}
	.london-location {
	    top: 110px;
	    left: 66px;
	}
	.paris-location {
	    top: 177px;
	    left: 87px;
	}
}

@media only screen and (max-width: 505px) {

	.london-location {
	    top: 108px;
	    left: 73px;
	}
	.paris-location {
	    top: 180px;
	    left: 88px;
	}
	.berlin-location {
	    top: 150px;
	    left: 140px;
	}
	.cyprus-location {
	    bottom: -11px;
	    right: 7px;
	}
	.LondonhoverInfo {
	    left: 66px;
	    top: -115px;
	}
	.ParishoverInfo {
	    top: -40px;
	    left: 79px;
	}
	.BerlinhoverInfo {
	    top: -68px;
	    left: 138px;
	}
	.CyprushoverInfo {
	    right: 0;
	    top: 87px;
	}
	/*.absolute-container {
		margin-top:430px;
	}*/
}

@media only screen and (max-width: 475px) {

	.london-location {
		top:100px;
		left:50px;
	}
	.paris-location {
	    top: 171px;
	    left: 74px;
	}
	.berlin-location {
	    top: 152px;
	    left: 128px;
	}
	.cyprus-location {
	    bottom: -2px;
	    right: 4px;
	}
	.london-location {
	    top: 117px;
	    left: 66px;
	}
	.ParishoverInfo {
	    top: -48px;
	    left: 69px;
	}
	.BerlinhoverInfo {
	    top: -69px;
	    left: 122px;
	}
	.CyprushoverInfo {
	    right: 0;
	    top: 69px;
	}
	.LondonhoverInfo {
	    left: 56px;
	    top: -108px;
	}

	/*.absolute-container {
		margin-top:380px;
	}*/
}


@media only screen and (max-width: 435px) {

	.london-location {
	    top: 90px;
	    left: 54px;
	}
	.paris-location {
	    top: 139px;
	    left: 66px;
	}
	.berlin-location {
	    top: 122px;
	    left: 114px;
	}
	.cyprus-location {
	    bottom: -13px;
	    right: -4px;
	}	
	.LondonhoverInfo {
	    left: 45px;
	    top: -131px;
	}
	.ParishoverInfo {
	    top: -81px;
	    left: 64px;
	}
	.BerlinhoverInfo {
	    top: -98px;
	    left: 105px;
	}	
	.CyprushoverInfo {
	    right: -7px;
	    top: 27px;
	}
	/*.absolute-container {
		margin-top:320px;
	}*/
	.map{
		height: 325px;
	}
}

@media only screen and (max-width: 405px) {

	.london-location {
	    top: 86px;
	    left: 50px;
	}
	.paris-location {
	    top: 144px;
	    left: 62px;
	}
	.berlin-location {
	    top: 120px;
	    left: 104px;
	}
	.cyprus-location {
	    bottom: -2px;
	    right: -2px;
	}
	.LondonhoverInfo {
	    left: 41px;
	    top: -136px;
	}
	.ParishoverInfo {
	    top: -76px;
	    left: 55px;
	}
	.BerlinhoverInfo {
	    top: -102px;
	    left: 94px;
	}
	.CyprushoverInfo {
	    top: 17px;
	    right: -10px;
	}
	.map{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 380px) {

	.london-location {
	    top: 76px;
	    left: 43px;
	}
	.paris-location {
	    top: 143px;
	    left: 53px;
	}
	.cyprus-location {
	    bottom: 9px;
	    right: -3px;
	}
	.berlin-location {
	    top: 121px;
	    left: 88px;
	}
	.BerlinhoverInfo {
	    top: -103px;
	    left: 78px;
	}
	.ParishoverInfo {
	    top: -78px;
	    left: 51px;
	}
	.CyprushoverInfo {
	    top: 3px;
	    right: -13px;
	}
	.LondonhoverInfo {
	    left: 33px;
	    top: -146px;
	}
	/*.map{
		height: 272px;
	}*/

}

@media only screen and (max-width: 360px) {

	.london-location {
	    top: 78px;
	    left: 41px;
	}
	.paris-location {
	    top: 138px;
	    left: 49px;
	}
	.berlin-location {
	    top: 121px;
	    left: 84px;
	}
	.cyprus-location {
	    bottom: 15px;
	    right: -3px;
	}
	.absolute-container {
		margin-top:280px;
	}
	.LondonhoverInfo {
	    left: 34px;
	    top: -142px;
	}
	.ParishoverInfo {
	    top: -84px;
	    left: 39px;
	}
	.BerlinhoverInfo {
	    top: -102px;
	    left: 75px;
	}
	.CyprushoverInfo {
	    top: 0px;
	    right: -10px;
	}
}

@media only screen and (max-width: 320px) {
	.map {
	    height: 233px;
	}
	.cyprus-location {
	    bottom: -17px;
	    right: -6px;
	}
	.london-location {
	    top: 46px;
	    left: 33px;
	}
	.paris-location {
	    top: 98px;
	    left: 40px;
	}
	.berlin-location {
	    top: 73px;
	    left: 70px;
	}
	.CyprushoverInfo {
	    top: -60px;
	    right: -17px;
	}
	.BerlinhoverInfo {
	    top: -147px;
	    left: 64px;
	}
	.ParishoverInfo {
	    top: -120px;
	    left: 32px;
	}
	.LondonhoverInfo {
	    left: 27px;
	    top: -176px;
	}
}