.reg-form-holder{
    padding-bottom: 0px;
}
    .logoLink{
    margin-bottom:20px;
}
.logoLink a{
    display: inline-block;
    padding: 10px 5px;
    vertical-align: text-bottom;
}
.logoLink a img{
    height: 56px;
}
.formContainer{
    width: 100%;
}

.imgList{
    display: block;
    margin: 17px auto;
}
.listItem-title{
    font-size: 28px;
    font-weight: 500;
    font-family: Georgia;
    text-align: center;
    color: #2988ca;
}
.formTitle{
    font-family: Georgia;
    font-size: 58px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;  
    color: #2988ca;
}
.list-group-item p{
    text-align: justify;
}
.textJustify{
    text-align: justify;
    line-height: 2;
    padding: 15px 20px;
}
#regulation{
    margin: 60px 0;
}
.logoList{
    list-style: none;
    width: 100%;
    padding: 0; 
    margin: 0;
}
.logoList li{
 display: block;
 margin: 0 auto 20px auto;
 text-align: center;
}
.linkLogo{
    border: solid 1px #ddd;
    display: inline-block;
    padding: 40px;
    min-width: 300px;
    height: 200px;
    border-radius: 20px;  
    margin: 0 10px 20px 10px;
}
.logoListWrapper{
    display: block;
    margin: 0 auto;
}

.one{
    padding: 20px 40px!important;
}
.inputData{
    margin-bottom: 20px;
}
.inputData .input-group-addon .fa{
    width: 30px;
}

.inputData .form-control{
    padding: 30px 12px;
}
.headingTitle{
    font-size:  34px;
    margin-bottom:  20px;
    text-align: center;
    color: #c8d1da;
}
.contentWrapper{
    background: url('https://www.forexmart.com/assets/images/mt4/registration-background.jpg') no-repeat; 
}
.inputFormcontainer{    
    width:  60%;
    margin: 10% auto;
    border: solid 2px #ddd;
    background: rgba(255,255,255,0.1);
    box-shadow: 2px 2px 15px #000;  
}
.columnStyle1 .panel, .columnStyle1 .panel .panel-body{
    border:none;
    background: transparent;
}
.columnStyle1 .panel .panel-body{
    padding: 5px 15px;
}
.inputGrpContainer{
    padding: 12px 60px 20px 60px;
}

.inputData .form-control, .inputData .input-group-addon{
    border-radius:0;
    border:0;
    background: rgba(0,0,0,0.4);
}
.inputData .input-group-addon{  
    background: #2988ca;
}
.inputData .input-group-addon .fa{
    background: #2988ca;
    color: #fff;
}
.inputData .form-control{
    border: solid 2px #2988ca;
    box-shadow: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}

.grpData{
    padding: 60px 20px;
}

.btnSubmit{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 0;
    font-weight: 600;       
}

.btnSubmit:hover, .btnSubmit:focus{
    background: #bbb;
    color: #333;
    box-shadow:none;
    outline: 0;
}

.iconHolder{
    height: 150px;
    width: 150px;
    border-radius:78px;
    border: solid 3px #ddd;
    display: block;
    margin: 0 auto 20px auto;
    overflow: hidden;
    padding: 10px;
}
.memberIcon{
    width:  100%;
    height: auto;
}
.lightTextCenter{
    text-align: center;
    color: #c8d1da;
}
.btnSignIn{
    margin: 0 auto;
    display: block;
    width:  150px;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 0;   
    background: #29a643;
    color: #fff;
}

.btnSignIn:hover, .btnSignIn:focus{
    background: #1b8330;
    color: #fff;
    box-shadow:none;
    outline: 0;
}

.inputData .fa-exclamation-circle{
    position: absolute;
    right: 0;
    z-index: 1;
    color:#fa5454;
    font-size: 1.5em;
    height: 44px;
    padding:10px;
    margin: 16px 0;   
}
.memberIcon{
    height: 80px!important;
    width: auto!important;
    margin: 22px auto!important;
    display: block!important;   
}
.itemAdjustment{
    margin: 22px auto 22px 24px!important;  
}
.multipleData-holder{
    padding: 0;
    margin: 0;
}
.multipleData-holder li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
/*  margin: 0 8px;*/
}
.multipleData-holder li img{
    height: 24px;
    width: auto;
}
.multipleInfo-holder span{
    display: block;
    line-height: 1.2;
    font-size: 11px;
}
.largeTd{
    padding: 0 40px;
}
.trades-tab-holder table{
    display: block;
    margin: 0 auto;
}
.trades-tab-holder table tbody tr{
    min-width:  100%;
}
.trades-tab-holder table thead tr th,.trades-tab-holder table tbody tr td{
    font-size: 12px;
    padding: 0 4px;
    vertical-align: middle;
}

.trades-tab-holder table tbody tr td:nth-child(n+2), .trades-tab-holder table thead tr th:nth-child(n+2){
    padding: 2px 4px;
    vertical-align: middle;
    text-align:left;
}
.trades-tab-holder table thead tr th select{
    border-radius: 0;
}
#partnersAccount tbody tr td:first-child{
    width: 130px;
}
#clientAccount tbody tr td:first-child{
    width: 142px;
}
#informersTab{
    display: block!important;
    width: 100%!important;
   /* margin: 40px auto 20px auto!important;*/
}
.resp-tabs-list li{
    width: 50%;
    margin-right: 0!important;
    text-align: center;
    background: #2988ca!important;
    color: #fff!important;
}
.resp-tabs-list li:hover{
    background:#2988ca;
}
.resp-tab-content{
    /*border-color: #2988ca!important;*/
    padding: 0!important;
    border:none!important;
}
.resp-tabs-list .resp-tab-active{
    background: #257cb8!important;
    color: #fff;
    border:none!important;
    text-decoration: underline;
}
.fx-monitoring-title{
    display:block;   
    color:#29a643;
    padding: 10px 0;    
    margin: 0 auto;
    width: 342px;
    font-family: Georgia;
}
.dataReplace-res a{
    display: block;
    text-align: center;
    outline: none;  
}
.dataReplace-res a img{
    border:1px solid #ddd;
}
.informersForm-tiitle{
    width: 100%;
    margin: 20px auto;
}
.informersChart-modal .modal .modal-dialog{
    min-height: 100%;
}
.informersChart-modal .modal .modal-content{
    width: 28%!important;
    display: block;  
    border-radius: 0;
    margin: 70% auto;
}
.informersChart-modal .modal-backdrop.fade{
    opacity: 0;
}
.dataReplace-res img{
    display: block;
    margin: 0 auto;
}
.trades-tab-holder .table-responsive{
    overflow-x: hidden;
    padding-top: 10px;
}
.informersSection{
    width: 100%;
    position: relative;
}
.informersSection .panel-info{
    width: 342px;
    display: block;
    margin: 0 auto;
}
.panel-table-holder{
    padding:0!important;
}
.trades-tab-holder .dataTables_wrapper .row .col-sm-6{
    display: block; 
    margin: 0 auto;
    width: 100%;
    float: none;
}
.trades-tab-holder .dataTables_wrapper .dataTables_length label,
.trades-tab-holder .dataTables_wrapper .dataTables_filter label,
.trades-tab-holder .dataTables_wrapper .dataTables_info, 
.trades-tab-holder .dataTables_wrapper .dataTables_paginate
{
    font-size: 11px;
    text-align: center;
    display: block;
}
.dataTables_wrapper .dataTables_filter .input-sm, .dataTables_wrapper .dataTables_length select{
    font-size:11px!important;
    height: 25px!important;
}
.new-division-informer .informer-tabs{
    width: calc(100% / 6)!important;
}
.normal-p-style{
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
    font-size: 17px;
}
.p-justify{
    text-align: justify;    
}

.mobileApps-section{
    display:block;
    padding:20px 5px;
    border: solid 1px #2988ca;
}
.mobileApps-paragraph{
    font-size:17px;
    text-align:center;
    font-weight:600;
    color:#2988ca;
}
.btn_mobile{
    text-align:center;
    text-decoration:none;
}
.btn_mobile:hover, .btn_mobile:focus{
    text-decoration:none;
}
.mobileApps-buttons{
    display:block;
    text-align:center;
}
.btn_mobile img{
    height:56px;
    width:auto;
    text-align:center;
    display:inline-block;
    margin: 0 3px;
}
.fm-mobile-holder{
    background:url('https://www.forexmart.com/assets/images/mt4/bg-forexmartMobile.jpg') no-repeat top center;
    min-height:650px;
    background-size: cover;
    padding:20px 0;
}
.mt4-desktop-holder{
    background:url('https://www.forexmart.com/assets/images/mt4/bg-metatraderDesktop.jpg') no-repeat top center;
    background-size: cover;
    position:relative;
    height:470px;
}
.mt4-desktop-desc{
    background:url('https://www.forexmart.com/assets/images/mt4/bg-mt4desktop-desc.jpg') no-repeat top center;
    background-size: cover;
    position:relative;
    padding:20px 0;
}
.img-mt4-desktop{
    display:block;
    margin:0 auto;
    position:absolute;
    bottom:0;
    left:13%;
}
.fm-page-title{
    display:block; 
    text-align:center;
    font-size:56px; 
    font-weight:500; 
    margin-bottom:20px;
}
.fm-title-desc{
    text-align:center;
    font-size:20px;
    font-weight:300;
    margin-bottom:20px;
}
.fmobile-list-desc{
    margin-left:150px;
    margin-top:40px;
    padding:0;
}
.fmobile-list-desc li{
    list-style:none;
    font-size:14px;
    display:block;
    text-align:center;
    padding:14px 10px;
    background:url('https://www.forexmart.com/assets/images/mt4/bg-fmobile-list-desc.png') no-repeat;
    background-size:cover;
    height:58px;
    margin-bottom:20px;
    color:#fff;
    text-shadow:0px 0px 5px rgba(0,0,0,0.7);
}
.img_fmobile{
    display:block;
    margin: 0 auto;
    height:400px;
    width:auto;
}
.fdesktop-list-desc{
    padding:0;
    display:inline-block;
    margin-bottom:20px;
    text-align:center;
}
.fdesktop-list-desc li{
    list-style:none;
    font-size:20px;
    text-shadow:0px 0px 5px rgba(0,0,0,0.7);
    color:#fff;
    text-align:left;
}
.img-btn{
    display:inline-block;
    margin-bottom:20px;
}
.img-btn img{
    height:60px;
    width:auto;
}
.text-above-btn{
    font-weight:600;
    text-align:center;
    font-size:18px;
    background: -webkit-linear-gradient(#3c3c3c, #000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.title-desktop{
    padding: 20px;
    display: inline-block;
    margin-left: 60px;
}
.mt4-parent{
    position:relative;
    min-height:100%;
}
.link-download{
    max-width:350px;
    display:block;
    margin: 0 auto;
    font-size:20px;
    font-weight:500;
    background:linear-gradient(#2f2f2f, #000);
    color:#fff;
    text-decoration:none;
    border-radius:0;
}
.link-download:hover, .link-download:focus{
    color:#fff;
    text-decoration:none;
}
@media only screen and (max-width: 1199px){
    .inputFormcontainer{
        width: 100%;
    }
    .informer-tab-holder .informer-tabs a span{
        font-size: 14px!important;
    }
    .fmobile-list-desc{
        margin-left:40px;
    }
}
@media only screen and (max-width: 991px){
    #informersTab{
        width: 100%!important;
    }
    .informersForm-tiitle{
        width:100%;
    }       
    .formTitle{
        font-size: 48px;
    }
    .informer-tab-holder .informer-tabs a span{
        font-size: 11px!important;
    }
    .fmobile-list-desc{
        margin-left:0;
    }
    .img-btn img{
        height: 48px;
    }
    /*.title-desktop{
        display:block;
        text-align: center;
        margin-left: 122px;
    }*/ 
    .break-inline{
        display:block;
    }
    .fm-page-title{
        margin-top:0;
    }
    .img-mt4-desktop{
        width: 77%;
    }
    .mt4-desktop-holder{
        height: 405px;
    }
}
@media only screen and (max-width: 768px){
    ul.resp-tabs-list{
        display: block!important;
    }
    h2.resp-accordion{
        display: none!important;
    }
    .trades-tab-holder table thead tr th select{
        padding: 0 4px;
    }   
}
@media only screen and (max-width: 767px){
    .grpData {
        padding: 22px 20px;
    }
    .columnStyle1 {
        border-right: 0;
    }
    .columnStyle1 .panel {
        border-bottom: 0;
    }   
    .informersChart-modal .modal .modal-content{
        width: 25%!important;
    }
    div.dataTables_length, div.dataTables_filter{
        text-align: left!important;
        padding-left: 10px;
    }
    .trades-tab-holder .table-responsive{
        overflow-x: auto;
        padding-top: 10px;
    }
    .dataTables_wrapper .dataTables_filter .form-control{
        width: auto;
    }
    .new-division-informer .informer-tabs{
        width: calc(100% /3)!important;
    }
    .informer-tab-holder .informer-tabs a span{
        font-size: 14px!important;
    }
    .btn-appstore{
        float:right;
    }
    .fm-title-desc{
        text-align:justify;
    }

}
@media only screen and (max-width: 716px){
    .formTitle {
        font-size: 38px;
    }
    .listItem-title{
        font-size: 22px;
    }
    .textJustify{
        padding: 0;
    }
}
@media only screen and (max-width: 635px){
    .dataReplace-res .imgChart{
        display: none;
    }
    .dataReplace-res a{
        display: block;
    }
    .trades-tab-holder table thead tr th select{
        padding: 0px;
    }
    .informersChart-modal .modal .modal-content{
        width: 27%!important;
    }       
}
@media only screen and (max-width: 578px){
    .formTitle {
        font-size: 32px;
    }
    .mt4-desktop-holder{
        height: 340px;
    }
    .fm-page-title{
        display:block;
        margin-left:0;
    }
}

@media only screen and (max-width: 556px){
    .inputGrpContainer{
        padding: 0;
    }
    .btnSubmit {
        margin-bottom: 20px;
    }
    .headingTitle{
        font-size: 28px;
    }
    .informersChart-modal .modal .modal-content{
        width: 32%!important;
    }   
    .listItem-title{
        font-size: 18px;
    }
    .new-division-informer .informer-tabs{
        width: calc(100%/2)!important;
    }
    .informer-tab-holder .informer-tabs a span{
        font-size: 16px!important;
    }
}
@media only screen and (max-width: 484px){
    .fm-page-title{
        font-size:50px;
    }
}
@media only screen and (max-width: 482px){
    .multipleData-holder li{
        padding:0!important;    
    }   
    .resp-tab-content{
        padding: 0!important;
    }
    .trades-tab-holder table tbody tr td, .trades-tab-holder table thead tr th,.trades-tab-holder table thead tr th select{
        font-size: 11px;        
    }
    .informersForm-tiitle{
        font-size:20px;
        margin: 5px auto;
    }
    .informersChart-modal .modal .modal-content{
        width: 39%!important;
    }
    .formTitle {
        font-size: 22px;
        font-weight: 600;
    }
    .listItem-title{
        font-size: 14px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 441px){
    .fm-page-title{
        font-size:36px;
    }
    .mt4-desktop-holder {
        height: 265px;
    }
}
@media only screen and (max-width: 412px){
    .trades-tab-holder table thead tr th,.trades-tab-holder table tbody tr td,.trades-tab-holder table thead tr th select{
        font-size: 9px;
    }
    .trades-tab-holder table tbody tr td:first-child{
        width: auto;
    }
    .trades-tab-holder table thead tr th select{
        height: 22px;
    }
    .trades-tab-holder table thead tr th:nth-child(2){
        width:50px;
    }
    .multipleData-holder li{
        margin: 0 2px!important;
    }
    .multipleData-holder li img{
        height: 24px;
    }
    .informersForm-tiitle{
        font-size:16px;
        margin: 5px auto;
    }
    .informersChart-modal .modal .modal-content {
        width: 43%!important;
    }
    .formTitle {
        font-size: 20px;
    }
    .listItem-title{
        font-size: 12px;        
    }
}
@media only screen and (max-width: 370px){
    .columnStyle1 .panel .panel-body{
        padding: 5px 7px;
    }
    .informersChart-modal .modal .modal-content{
        width: 51%!important;
    }
    .linkLogo{
        min-width: 270px;
    }
    .formTitle {
        font-size: 16px;        
    }   
    .trades-tab-holder table tbody tr td{
        font-size: 9px;
    }
    .listItem-title{
        font-weight: 500;       
    }
    .informer-tab-holder .informer-tabs a span{
        font-size: 12px!important;
    }
    .informersSection .panel-info,.fx-monitoring-title{
        width: 290px;
    }   
    .inputData input[type=text]::-webkit-input-placeholder {
        font-size:11.6px;   
    }
    .inputData input[type=text]::-moz-placeholder {
        font-size:11.6px;
    }
    .inputData input[type=text]:-ms-input-placeholder {
        font-size:11.6px;
    }
    .inputData input[type=text]:-moz-placeholder {
        font-size:11.6px;
    }   
}
@media only screen and (max-width: 336px){
    .fm-page-title {
        font-size: 30px;
    }
    .mt4-desktop-holder {
        height: 235px;
    }
    .text-above-btn{
        font-size:14px;
    }
}

/*HEADER MOBILE CSS*/

.screenMsgContainer{
    background:url('https://www.forexmart.com/assets/images/mt4/bg_screenMsg.png') top left no-repeat;
    max-height:100px;
    background-size:cover;
    display:none;
    position:relative;
    overflow:hidden;
}
.img_brandLogo{
    padding:5px;
    display:block;
    margin:0 auto;
}
.screenMsg_brandName{
    font-size:34px;
    color:#fff;
    font-weight:500;
    margin:0;
    text-shadow:00 0 5px #044c96;
}
.btn-gdtgreen{
    display:block;
    margin:30px auto;
    padding:10px;
    font-size:20px;
    color:#fff;
    border:none;
    background: #29a643; /* Old browsers */
    background: -moz-linear-gradient(top,  #29a643 0%, #238c2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #29a643 0%,#238c2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #29a643 0%,#238c2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a643', endColorstr='#238c2a',GradientType=0 ); /* IE6-9 */

}
.screenMsg_btnClose{
    position:absolute;
    top:10px;
    right:20px;
    color:rgba(47, 46, 46, 0.5);
}
.screnMsg_caption{
    color:#fff;
    font-size:16px;
    text-shadow:00 0 5px #044c96;
}
.fm-webterminal{
    background:url('https://www.forexmart.com/assets/images/mt4/bg_webterminal.jpg') no-repeat top center;
    background-size:cover;
    padding-top:20px;
}
.fm-btn-container{
    display:block;
    width:100%;
    text-align:center;
    margin:20px 0;
}
.btn-border{
    color:#fff;
    border-radius:30px;
    border:solid 2px #1972ad;
    padding:15px;
    font-size:17px;
    background: hsla(205, 76%, 37%, 0.8);
}
.fm-webterminal-section{
    background:rgba(255, 255, 255, 0.6);
    border-top: solid 1px #c2c2c2;
}

.fm-text-above-img{
    margin:15px 0;
    min-height:130px;
}
.fm-btn-container .btn-border{
    min-width:250px;
}
.fm-text-above-img > span{
    display:block;
    text-align:center;
    padding:5px;
    margin:10px 0;
}
.fm-text-above-img > span > img{
    margin:0 auto;
    height: 46px;
    width: auto;
}
.fm-text-above-img > p{
    text-align:center;
    font-weight:600;
    font-size:13px;
    color:#16659e;
}
.fm-img-center{
    margin:15px auto;
    padding:30px 0;
}
@media only screen and (max-width : 992px) {
    .screenMsgContainer{
        display:block;
        width:100%;
    }
}
@media only screen and (min-width : 768px) {
    
}
@media only screen and (max-width : 480px) {
    .line2{
        display:block;
    }
    .btn-gdtgreen{
        width:100px;
        font-size:16px;
    }
    .screnMsg_caption{
        font-size:14px;
    }
    .xs-custom-size, .md-custom-size, .lg-custom-size{
        padding-right:0!important;
    }
    .lg-custom-size{
        width:35%!important;
        padding-top: 13px;
        margin:0 auto;
    }
    .xs-custom-size{
        /*padding:20px 0;*/
    }
    .screenMsg_brandName{
        font-size:26px;
    }
    .screnMsg_caption {
        font-size: 12px;
    }
}
@media only screen and (max-width : 394px) {
    .lg-custom-size{
        width: 39%!important;
        padding-left:2px!important;
    }
    .btn-gdtgreen{
        font-size:14px;
        width: 85px;
    }
    .xs-custom-size{
        width: 26%;
    }
    .md-custom-size{
        padding-left:0!important;
    }
    .img_brandLogo {
        padding: 17px 5px;
        height:98px;
        width:auto;
    }
}

@media only screen and (max-width : 320px) {
 
    .btn-gdtgreen {
        font-size: 12px;
        width: 74px;
        padding: 6px;
        margin: 34px auto;
    }   
    .screenMsg_brandName {
        font-size: 22px;
    }
    .lg-custom-size{

    }
    .img_brandLogo {
        padding: 17px 5px;
        height: 94px;
    }

}
