.qa-holder ul li a {
    color: #337AB7;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 600;
}
.specificwidth{
    width: 50%;
}
.display-n{
    display:none
}
.qa-holder ul li{
    width: 96%;
}
.qa-holder ul li p {
    margin-left: 0px;
}