 .partner-tabs-all
    {
        width: 100%;
        padding: 0;
    }
    .partner-tabs-all ul
    {
        list-style: none;
        padding: 0;
    }
    .partner-tabs-all ul li
    {
        text-align: center;
        border-top: 1px solid #fff;
    }
    .partner-tabs-all ul li a
    {
        text-align: left;
        padding: 8px 15px;
        display: block;
        font-size: 13px;
        background: #f5f5f5;
        font-family: Open Sans;
        font-weight: 600;
        color: #333;
        transition: all ease 0.3s;
    }
    .partner-tabs-all ul li a:hover
    {
        background: #2988ca;
        text-decoration: none;
        color: #fff;
        transition: all ease 0.3s;
    }
    .partner-tabs-all ul li a:focus
    {
        background: #2988ca;
        text-decoration: none;
        color: #fff;
    }
    .partner-active
    {
        background: #2988ca!important;
        text-decoration: none;
        color: #fff!important;
    }