h4 {
    padding-top: 15px;
}
.button-holder{
    text-align: center;
    padding: 20px 20px;
}
.btn-real
{
    background: none;
    border: 1px solid #29a643;
    color: #29a643;
    width: 100%;
    padding: 7px 7px;
    max-width: 300px;
    transition: all ease 0.3s;
}
.bonus-holder{
    background:rgba(0,0,0,0.7);
    padding:15px 15px;
    margin-right: 25px;
    margin-top: 60px;
    width: 50%;
}
.bonus-50 p {
    font-weight: 300;
    font-size: 14px;
    color: #222;
    text-align: justify;
    padding:0;
}

.bonus-50 h4 {  
    font-family: Georgia;
    font-weight: 400;
    color: #222 !important;
    font-size: 24px;
    text-align: left;
}
.steps-holder
{
    margin-top: -10px;
    margin-bottom: 25px;
}
.steps p{
    text-align: center;
}   
@media (max-width:767px){
.bonuses p {
    padding:0 45px;
}
}

@media (max-width:560px){
.bonuses p {
    padding:0 35px;
}
}

@media (max-width:360px){
.bonuses p {
    padding:0 25px;
}
}
.btn-real1, .btn-demo1{
    padding: 7px !important;
    display: inline-block !important;
    text-decoration: none !important;
    width:auto!important;
}