      .fs-11{
        font-size:11px!important;
    }
    ul#ulwebname {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
    }
    i.fa-minus{
        color: red;
    }
    div.error_p p{
        color: red;
    }
    div.company-field{
        display:none;
    }

    p.add-msg{
        width: 460px;
        margin-left: 30px;
    }
    .demo-feats li i {
        float: left;
        width: 20px;
    }
    .li_span ,.sa-li_span {
        float: left;
        width: 80%;
    }
    .partner-tabs-all
    {
        width: 100%;
        padding: 0;

    }
    .partner-tabs-all ul
    {
        list-style: none;
        padding: 0;
    }
    .partner-tabs-all ul li
    {
        text-align: center;
        border-top: 1px solid #fff;
    }
    .partner-tabs-all ul li a
    {
        text-align: left;
        padding: 8px 15px;
        display: block;
        font-size: 13px;
        background: #f5f5f5;
        font-family: Open Sans;
        font-weight: 600;
        color: #333;
        transition: all ease 0.3s;
    }
    .partner-tabs-all ul li a:hover
    {
        background: #2988ca;
        text-decoration: none;
        color: #fff;
        transition: all ease 0.3s;
    }
    .partner-tabs-all ul li a:focus
    {
        background: #2988ca;
        text-decoration: none;
        color: #fff;
    }
    .partner-active
    {
        background: #2988ca!important;
        text-decoration: none;
        color: #fff!important;
    }
    .b-left
    {
        border-left: 1px solid #ccc;
    }
    .b-left:lang(sa){
        border-left: none!important;
        border-right: 1px solid #ccc;
    }
    .partner-text-ru
    {
        margin-top: 35px;
    }
    .all-holder
    {
        padding-bottom: 0px;
    }
    .ru-btn-holderb-left
    {
        padding-bottom: 25px;
    }
    .partnership-reg-holder
    {
        margin-top: 0!important;
    }
    .btn-comm-table
    {
        border: none;
        padding: 8px 0px;
        width: 278px;
        border-right: 1px solid #ccc;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        transition: all ease 0.3s;
        display: block;
        text-align: center;
        background: #f0f0f0
    }
    .btn-comm-table:focus
    {
        text-decoration: none;
        background: #2988ca;
        color: #fff;
    }
    .btn-comm-table:hover
    {
        text-decoration: none;
        transition: all ease 0.3s;
        background: #2988ca;
        color: #fff;
    }
    div.intl-tel-input{
        width: 100% !important;
    }

    ul.country-list{
        z-index: 100 !important;
    }
    ul.country-list .bg{
        min-height: 0px !important;
    }
    /*MEDIA QUERIES*/
    @media screen and (max-width: 1199px) {
        .btn-comm-table
        {
            width: 228px;
        }
    }
        .cd-top{
        z-index: 99;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        #target_country{
            font-size: 12px;
        }
    }
	 .error{
            color:red;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
        }