  .nav-fix
    {
        position: inherit;
    }
    .adj-s{
        margin-top: 100px;
    }
.tradomart {
    height: 14px;
    width: auto;
    margin-bottom: 5px;
}
.license-text {
    margin-top: 20px;
    color: #333;
    font-family: Open Sans;
    text-align: justify;
    font-size: 18px;
}
    .logoLink{
    margin-bottom:20px;
}
.logoLink{
    margin-bottom:20px;
}
.logoLink a{
    display: inline-block;
    padding: 10px 5px;
    vertical-align: text-bottom;
}
.logoLink a img{
    height: 56px;
}
.formContainer{
    width: 100%;
}

.imgList{
    display: block;
    margin: 15px auto;
}
.listItem-title{
    font-size: 28px;
    font-weight: 500;
    font-family: Georgia;
    text-align: center;
    color: #2988ca;
}
.formTitle{
    font-family: Georgia;
    font-size: 58px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;  
    color: #2988ca;
}
.list-group-item p{
    text-align: justify;
}
.textJustify{
    text-align: justify;
    line-height: 2;
    padding: 15px 20px;
}
#regulation{
    margin: 60px 0;
}
.logoList{
    list-style: none;
    width: 100%;
    padding: 0; 
    margin: 0;
}
.logoList li{
 display: block;
 margin: 0 auto 20px auto;
 text-align: center;
}
.linkLogo{
    border: solid 1px #ddd;
    display: inline-block;
    padding: 40px;
    min-width: 300px;
    height: 200px;
    border-radius: 20px;  
    margin: 0 10px 20px 10px;
}
.logoListWrapper{
    display: block;
    margin: 0 auto;
}

.one{
    padding: 20px 40px!important;
}
.inputData{
    margin-bottom: 20px;
}
.inputData .input-group-addon .fa{
    width: 30px;
}

.inputData .form-control{
    padding: 30px 12px;
}
.headingTitle{
    font-size:  34px;
    margin-bottom:  20px;
    text-align: center;
    color: #c8d1da;
}
.contentWrapper{
    background: url('../images/registration-background.jpg') no-repeat; 
}
.inputFormcontainer{    
    width:  60%;
    margin: 10% auto;
    border: solid 2px #ddd;
    background: rgba(255,255,255,0.1);
    box-shadow: 2px 2px 15px #000;  
}
.columnStyle1 .panel, .columnStyle1 .panel .panel-body{
    border:none;
    background: transparent;
}
.columnStyle1 .panel .panel-body{
    padding: 5px 15px;
}
.inputGrpContainer{
    padding: 12px 60px 20px 60px;
}

.inputData .form-control, .inputData .input-group-addon{
    border-radius:0;
    border:0;
    background: rgba(0,0,0,0.4);
}
.inputData .input-group-addon{  
    background: #2988ca;
}
.inputData .input-group-addon .fa{
    background: #2988ca;
    color: #fff;
}
.inputData .form-control{
    border: solid 2px #2988ca;
    box-shadow: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}

.grpData{
    padding: 60px 20px;
}

.btnSubmit{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 0;
    font-weight: 600;       
}

.btnSubmit:hover, .btnSubmit:focus{
    background: #bbb;
    color: #333;
    box-shadow:none;
    outline: 0;
}

.iconHolder{
    height: 150px;
    width: 150px;
    border-radius:78px;
    border: solid 3px #ddd;
    display: block;
    margin: 0 auto 20px auto;
    overflow: hidden;
    padding: 10px;
}
.memberIcon{
    width:  100%;
    height: auto;
}
.lightTextCenter{
    text-align: center;
    color: #c8d1da;
}
.btnSignIn{
    margin: 0 auto;
    display: block;
    width:  150px;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 0;   
    background: #29a643;
    color: #fff;
}

.btnSignIn:hover, .btnSignIn:focus{
    background: #1b8330;
    color: #fff;
    box-shadow:none;
    outline: 0;
}

.inputData .fa-exclamation-circle{
    position: absolute;
    right: 0;
    z-index: 1;
    color:#fa5454;
    font-size: 1.5em;
    height: 44px;
    padding:10px;
    margin: 16px 0;   
}
.memberIcon{
    height: 80px!important;
    width: auto!important;
    margin: 22px auto!important;
    display: block!important;   
}
.itemAdjustment{
    margin: 22px auto 22px 24px!important;  
}
.multipleData-holder{
    padding: 0;
    margin: 0;
}
.multipleData-holder li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}
.multipleData-holder li img{
    height: 37px;
    width: auto;
}
.multipleInfo-holder span{
    display: block;
}
.largeTd{
    padding: 0 40px;
}
.trades-tab-holder table{
/*  width: 60%;*/
    display: block;
    margin: 0 auto;
}
.trades-tab-holder table tbody tr{
    min-width:  100%;
}
.trades-tab-holder table tbody tr td:nth-child(n+2), .trades-tab-holder table thead tr th:nth-child(n+2){
    padding: 7px 4px;
    vertical-align: middle;
    width: 15%!important;
    text-align:left;
}
.trades-tab-holder table thead tr th select{
    border-radius: 0;
}
.trades-tab-holder table tbody tr td:first-child{
    width:46%;
}
#informersTab{
    display: block!important;
    width: 78%!important;
    margin: 40px auto 20px auto!important;
}
.resp-tabs-list li{
    width: 50%;
    margin-right: 0!important;
    text-align: center;
    padding: 15px!important; 
}
.resp-tabs-list li:hover{
    background:#2988ca;
}
.resp-tab-content{
    padding: 30px!important;
    border-color: #2988ca!important;
}
.resp-tab-active{
    background: #2988ca!important;
    color: #fff;
}
.fx-monitoring-title{
    display:block;
    background-color: #29a643;
    color:#fff;
    padding: 10px 10px;
    width: 80%;  
    margin: 0 auto;
}
.dataReplace-res a{
    display: none;
    text-align: center;
    outline: none;  
}
.dataReplace-res a img{
    border:1px solid #ddd;
}
.informersForm-tiitle{
    width: 80%;
    margin: 20px auto;
}
.informersChart-modal .modal .modal-dialog{
    min-height: 100%;
}
.informersChart-modal .modal .modal-content{
    width: 28%!important;
    display: block;  
    border-radius: 0;
    margin: 70% auto;
}
.informersChart-modal .modal-backdrop.fade{
    opacity: 0;
}
.dataReplace-res img{
    display: block;
    margin: 0 auto;
}
.trades-tab-holder .table-responsive{
    overflow-x: hidden;
    padding-top: 10px;
}
@media only screen and (max-width: 1199px){
    .inputFormcontainer{
        width: 100%;
    }
}
@media only screen and (max-width: 991px){
    #informersTab{
        width: 100%!important;
    }
    .fx-monitoring-title{
        width: 100%;
    }   
    .informersForm-tiitle{
        width:100%;
    }   
    .resp-tab-content{
        padding: 20px!important;
    }
    #informersTab{
        margin: 12px auto 0 auto!important
    }
    .formTitle{
        font-size: 48px;
    }
}
@media only screen and (max-width: 768px){
    ul.resp-tabs-list{
        display: block!important;
    }
    h2.resp-accordion{
        display: none!important;
    }
    .trades-tab-holder table thead tr th select{
        padding: 0 4px;
    }   
}
@media only screen and (max-width: 767px){
    .grpData {
        padding: 22px 20px;
    }
    .columnStyle1 {
        border-right: 0;
    }
    .columnStyle1 .panel {
        border-bottom: 0;
    }   
    .informersChart-modal .modal .modal-content{
        width: 25%!important;
    }
    div.dataTables_length, div.dataTables_filter{
        text-align: left!important;
        padding-left: 10px;
    }
    .trades-tab-holder .table-responsive{
        overflow-x: auto;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 716px){
    .formTitle {
        font-size: 38px;
    }
}
@media only screen and (max-width: 635px){
    .dataReplace-res .imgChart{
        display: none;
    }
    .dataReplace-res a{
        display: block;
    }
    .trades-tab-holder table thead tr th select{
        padding: 0px;
    }
    .informersChart-modal .modal .modal-content{
        width: 27%!important;
    }   
}
@media only screen and (max-width: 578px){
    .formTitle {
        font-size: 32px;
    }
}

@media only screen and (max-width: 556px){
    .inputGrpContainer{
        padding: 0;
    }
    .btnSubmit {
        margin-bottom: 20px;
    }
    .headingTitle{
        font-size: 28px;
    }
    .informersChart-modal .modal .modal-content{
        width: 32%!important;
    }
    .multipleData-holder li{
        margin: 0 2px;
    }
    .multipleData-holder li img{
        height: 30px;
    }
}
@media only screen and (max-width: 482px){
    .multipleData-holder li{
        padding:0!important;    
    }   
    .resp-tab-content{
        padding: 0!important;
    }
    .trades-tab-holder table tbody tr td, .trades-tab-holder table thead tr th,.trades-tab-holder table thead tr th select{
        font-size: 11px;        
    }
    .informersForm-tiitle{
        font-size:20px;
        margin: 5px auto;
    }
    .informersChart-modal .modal .modal-content{
        width: 39%!important;
    }
    .formTitle {
        font-size: 22px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 412px){
    .trades-tab-holder table thead tr th,.trades-tab-holder table tbody tr td,.trades-tab-holder table thead tr th select{
        font-size: 9px;
    }
    .trades-tab-holder table tbody tr td:first-child{
        width: auto;
    }
    .trades-tab-holder table thead tr th select{
        height: 22px;
    }
    .trades-tab-holder table thead tr th:nth-child(2){
        width:50px;
    }
    .multipleData-holder li{
        margin: 0 2px!important;
    }
    .multipleData-holder li img{
        height: 24px;
    }
    .informersForm-tiitle{
        font-size:16px;
        margin: 5px auto;
    }
    .informersChart-modal .modal .modal-content {
        width: 43%!important;
    }
    .formTitle {
        font-size: 20px;
    }
}
@media only screen and (max-width: 370px){
    .columnStyle1 .panel .panel-body{
        padding: 5px 7px;
    }
    .informersChart-modal .modal .modal-content{
        width: 51%!important;
    }
    .linkLogo{
        min-width: 270px;
    }
    .formTitle {
        font-size: 16px;        
    }   
    .trades-tab-holder table tbody tr td{
        font-size: 9px;
    }
    .multipleData-holder li img{
        height: 14px;
    }       
    .inputData input[type=text]::-webkit-input-placeholder {
        font-size:11.6px;   
    }
    .inputData input[type=text]::-moz-placeholder {
        font-size:11.6px;
    }
    .inputData input[type=text]:-ms-input-placeholder {
        font-size:11.6px;
    }
    }
    .inputData input[type=text]:-moz-placeholder {
        font-size:11.6px;
    }   
}